.contactCard {
    height: 15%;
    width: 50%;
    border: 2px solid #363636 !important;
    border-radius: 30px;
    border-color: #363636 !important;
    border-width: 2px;
    border-bottom: 2px solid #363636 !important;
    margin-bottom: 100px;
  }
  
  .contactCol {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .contactRow {
    text-align: center;
    display: flex;
    height: 100%;
    width: 100%;
  }
  
  .no-underline {
    text-decoration: none;
  }

  .contactText{
    margin-left: 5px;
    margin-top: 8px;
    color:#363636;
  }

  .contactTextEmail{
    margin-left: 8px;
    margin-top: 8px;
    color:#363636;
  }

  .hover-effect:hover .landingIcon, 
  .hover-effect:hover .contactText,
  .hover-effect:hover .contactTextEmail{
    color:#a7a3a3; /* new color on hover */
  }
